body, html {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
  font-family: 'Waiting for the Sunrise', cursive;
}

#container {
  text-align: center;
}

.header h1 {
  font-weight: 400;
}

h3 {
  font-size: 25px;
  margin: 10px 0px;
}

.time {
  font-family: 'Sunshiney', cursive;
}

.geolocationSettings {

}

.header img {
  border-radius: 30px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.header h1 {
  margin-top: 0;
}

.tomorrow {
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  font-size: 20px;
  width: 40%;
  position: relative;
  margin: 0 auto;
  color: black;
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
}

.tomorrow:hover {
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  font-size: 20px;
  width: 40%;
  position: relative;
  margin: 0 auto;
  color: black;
  background: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin-top: 40px;
}

.todayButton {
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  font-size: 20px;
  width: 40%;
  position: relative;
  margin: 0 auto;
  color: black;
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
  display: none;
}

.todayButton:hover {
  font-family: 'Waiting for the Sunrise', cursive;
  font-weight: bold;
  font-size: 20px;
  width: 40%;
  position: relative;
  margin: 0 auto;
  color: black;
  background: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  margin-top: 40px;
}

@media only screen and (max-device-width: 480px) {
  body, html {
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    font-family: 'Waiting for the Sunrise', cursive;
  }

  #container {
    text-align: center;
  }

  #geo {
    margin: 40px 20px;
    font-size: 20px;
  }

  .header h1 {
    font-weight: 400;
    font-size: 28px;
  }

  h3 {
    font-size: 25px;
    margin: 10px 0px;
  }

  .time {
    font-family: 'Sunshiney', cursive;
  }

  .geolocationSettings {

  }

  .header img {
    border-radius: 30px;
    margin-top: 60px;
    margin-bottom: 20px;
  }

  .header h1 {
    margin-top: 0;
  }

  .tomorrow {
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: bold;
    font-size: 17px;
    width: 80%;
    position: relative;
    margin: 0 auto;
    color: black;
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
  }

  .tomorrow:hover {
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: bold;
    font-size: 17px;
    width: 80%;
    position: relative;
    margin: 0 auto;
    color: black;
    background: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 50px;
  }

  .tomorrowDetails, .today {
    margin: 20px 20px;
  }

  .todayButton {
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: bold;
    font-size: 17px;
    width: 80%;
    position: relative;
    margin: 0 auto;
    color: black;
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
    display: none;
  }

  .todayButton:hover {
    font-family: 'Waiting for the Sunrise', cursive;
    font-weight: bold;
    font-size: 17px;
    width: 80%;
    position: relative;
    margin: 0 auto;
    color: black;
    background: white;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 50px;
  }

}
